resource_product/

# sample_files temporary output
doc_sample.pdf
docx_sample.pdf
FinalPaperTemplate.pdf
md_sample.pdf
md_sample2.pdf
pptx_sample.pdf
tablecell.pdf
txt_sample.pdf
README.pdf
jpeg_sample.pdf
png_sample.pdf
png2_sample.pdf
ppt_sample.pdf

docx_sample/
pdf_sample/
hwpx_sample/